/* Grid */
.is-paddingless-horizontal { 
    padding-left: 0; 
    padding-right: 0; 
}

.grid *  { grid-column: md; }
.grid-xl { grid-column: xl; }

.grid {
    display: grid;
	grid-template-columns:
		[xl-start] 1fr [md-start] minmax(0, 624px) [md-end] 1fr [xl-end];
}

/* Hero */
.hero { 
    background: url('/assets/images/masthead.jpg'); 
    background-size: cover; 
}
